# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.env

# Python
backend/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
backend/env/
backend/venv/
backend/ENV/
backend/build/
backend/dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
*.sqlite3

# Cloudflare Worker
worker/public/
worker/.wrangler/
worker/uv.lock
worker/.venv/
worker/.venv-workers/

# OS
.DS_Store
Thumbs.dbworker/pylock.toml
worker/python_modules/
